#navbar {
  font-family: "Amazon Ember", Arial, sans-serif;
  margin: 0;
}

#flex-row {
  display: flex;
  justify-content: center;
}

#flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description {
  font-family: "Amazon Ember", Arial, sans-serif;
}

#checkout {
  margin-left: 1.3%;
}